<div id="canvas">
  <svg id="connections"></svg>

  <div class="node missing" data-bs-toggle="offcanvas" data-bs-target="#sources-choice-offcanvas" data-tippy-content="Click to select applicable data sources" draggable="true">
    Data <i class="bx bxs-check-circle ms-1"></i>
  </div>

  <div data-bs-toggle="modal" data-bs-target="#prompt-entry-modal" data-tippy-content="Click to Specify a system prompt with instructions" class="node missing cursor-pointer" draggable="true">
    System Prompt <i class="bi bi-patch-question-fill ms-1"></i>
  </div>

  <div data-tippy-content="When all requirements are met, the configuration for this bot can be saved" class="node data" draggable="true">
    Chatbot <i class="bi bi-robot ms-1 bx-burst"></i>
  </div>
</div>
