<div class="offcanvas offcanvas-end" tabindex="-1" id="password-offcanvas">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title"><i class="bx bx-circle me-1"></i> Change Password</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body">
    <form method="post" id="update-password-form" action="{% url 'uc:update-password' %}">
      {% csrf_token %}

      <div class="mb-4">
        <label class="form-label" for="new-password-input">New password</label>

        <div class="input-group">
          <input type="password" data-tippy-content="What you want as your password" class="form-control needs-validation" name="new-password" autocomplete="new-password" id="new-password-input" placeholder="Type here new password" required />

          <span data-changes="new-password-input" class="input-group-text cursor-pointer password-toggle"><i class="bi bi-eye-slash"></i></span>
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label" for="confirm-password-input">Confirm Password</label>

        <input type="password" data-tippy-content="This should match the one above" class="form-control form-control-lg needs-validation" autocomplete="new-password" name="confirm-password" id="confirm-password-input" placeholder="Re-Type here the password above" required />
      </div>

      <button type="submit" data-tippy-content="You will be logged out upon clicking here, and you will signin again" id="submit-changes-trigger" class="btn btn-secondary" disabled>
        <i class="bx bx-check me-2"></i>
        Update Password
      </button>
    </form>
  </div>
</div>
